body{
   margin: 0 auto;
   padding: 0;
   max-width: 1400px;
   background-color: #e4e5e7;
   font-family: Montserrat;
}

*{
   letter-spacing: 0.6px;
   font-family: Montserrat;
}

footer, main, header{
  position: relative;
  width: 100%;
  color: black;
  background-color: white;
}

main{
	height: 2330px;
  background-color:  #e4e5e7;
}

.nav{
  width: 1170px;
  margin: auto;
  height: 100px;
  position: relative;
}

.menubaricon{
  margin-top: 37px;
  float: left;
  cursor: pointer;
}

.vline{
  float: left;
  margin-left: 40px;
  border-left: 1.3px solid #f0f2f7;
  height: 100px;
}

.portlandlogo{
  margin-left: 35px;
  margin-top: 32px;
  float: left;
}

.mainmenubox{
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  margin-top: 5px;
}

.topmenu{
  float: left;
  padding: 0;
  margin: 0;
}

.topmenu li{
	letter-spacing: 0.6px;
	font-weight: 600;
	width: auto;
	float: left;
	color: #343e5c;
	list-style-type: none;
	font-size: 15px;
	font-family: Montserrat, sans-serif;
	margin-top: 32px;
}
.menu-items li a:hover{
  color: black;

}
.topmenu li:not(:last-child){
  margin-right: 30px;
}

.topmenu li a{
	text-decoration: none;
	color: #343e5c;
}

.cart{
  float: left;
}

.cartlogo{
  float: left;
  margin-top: 34px;
  margin-left: 150px;
}

.carttext{
  font-weight: 600;
  font-family: Montserrat;
  color: #343e5c;
  font-size: 11px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 5px;
  float: left;
}
.shoppingCartCount{
  float: left;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-top: 32px;
}

.pricezero{  
	float: left;
	height: 20px;
	width: 20px;
	margin-left: 5px;
	margin-top: 30px;
  font-family: Montserrat;
	border: none;
  outline: none;
	width: 20px;
	border-radius: 13px;
 	background-color: #e3e8f0;
 	text-align: center;
}



.signIn{
	position: relative;
    float: left;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #e3e8f0;
    margin-left: 26px;
    margin-top: 25px;
}

.signinbtn{
	height: 100%;
	width: 100%;    
	border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #e3e8f0;
  font-weight: 600;
  font-family: Montserrat;
  color: #343e5c;
  font-size: 11px;
  margin: 0;
  padding: 0;
  float: left;
  border: 0;
  background-color: #fff;
  outline:none
}

.signinbtn:hover{
	cursor: pointer;
}

.line{
  margin: 0;
  padding: 0;
  border: 0;
  height: 1.3px;
  background-color: #f0f2f7;
}

.botmenu{
  width: 1170px;
  position: relative;
  margin: auto;
  height: 50px;
}

.botmenubox{
  float: left;
  margin: 0;
  padding: 0;
}

.menu-items{
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}

.menu-items li{
  font-weight: 600;
  letter-spacing: 0.6px;
  width: auto;
  float: left;
  color: #b9bed1;
  list-style-type: none;
  font-size: 11px;
  font-family: Montserrat;
  margin-top: 15px;
}
.menu-items li:not(:last-child){
  margin-right: 30px;
}

.menu-items li a{
	text-decoration: none;
	color: #b9bed1;
}

#support{	
  margin-left: 385px;
}

.secondvline{
  float: left;
  margin-left: 30px;
  border-left: 1.3px solid #f0f2f7;
  height: 50px;
}


.searchbox{
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 3px;
}

.searchicon{
    float: left;
    margin-left: 20px;
    margin-top: 13px;
}
.searchInput{
  width: 115px;
  float: left;
  color: #b9bed1;
  list-style-type: none;
  font-size: 14px;
  font-family: Montserrat;
  margin-top: 10px;
  margin-left: 10px;
  border: 0;
  outline: none;
}

.swiper-container {
    width: 100%;
    height: 500px;
    background-color: #1c1e23;
}

.swiper-pagination-bullet-active{
	background-color: white !important;
}

.sliderMainContainer{
	width: 100%;
	background-color: #1c1e23;
}

.sliderContainer{
	width: 1170px;
	margin: auto;
}

.slidertextheader{
	position: absolute;
	left: 200px; 
	top: 50px;
	font-size: 42px;
	font-weight: 600;
	color: white;
	font-family: Montserrat, verdana;
}

.slidertext{
	position: absolute;
	font-size: 13px;	
	left: 200px; 
	top: 200px;
	color: white;
	font-family: Montserrat, verdana;
}

.buynow{
	position: absolute;
	left: 200px;
	top: 350px;
	font-size: 11px;
	color: white;
	width: 170px;
	height: 42px;
	background-color: #2754eb;
	border: 0;
	border-radius: 20px;
	outline:none;
	font-family: Montserrat, verdana;
	font-weight: 600;
  cursor: pointer;
}

.menuproductsfilter{
	position: relative;
    width: 1170px;
    margin: auto;
	height: 50px;
	top: 50px;
	background-color: white;
	border-radius: 7px;
}

.menuproductsfilter ul{
	float: left;
	margin: 0;
	padding: 0;
}

.menuproductsfilter ul li{
	float: left;	
	letter-spacing: 0.6px;
	font-weight: 600;
	width: auto;
	float: left;
	color: #343e5c;
	list-style-type: none;
	font-size: 11px;
	font-family: Montserrat, sans-serif;
	margin-top: 20px;
}

.menuproductsfilter ul li a{
	text-decoration: none;
	color: #343e5c;
}

.menuproductsfilter ul li a i {
  border: solid #a1a8bd;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
#bestmatchtext{
  font-family: 'Montserrat', sans-serif;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
	margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.thirdvline{
	float: left;
  	margin-left: 20px;
    border-left: 1.3px solid #f0f2f7;
  	height: 50px;
}

.keywords{
	float: left;
	color: #a1a8bd;
	font-size: 11px;
	margin-left: 40px;
	margin-top: 20px;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}

.keywordsinput{
	float: left;
	margin-left: 10px;
	margin-top: 12px;
	border-radius: 12px;
	border: 0;
	background-color: #e3e8f0;
	width: 165px;
	height: 27px;
	outline: none;
}

.price{
	float: left;
	color: #a1a8bd;
	font-size: 11px;
	margin-left: 15px;
	margin-top: 20px;	
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}

.priceinput{
	float: left;
	margin-left: 10px;
	margin-top: 12px;
	border-radius: 12px;
	border: 0;
	background-color: #e3e8f0;
	width: 65px;
	height: 27px;
	outline: none;
}

.minusline{
	float: left;
	font-size: 11px;
	margin-top: 20px;
	margin-left: 5px;
  color: #a1a8bd;
}

.container{
	float: left;
  position: relative;
  left: 50px;
  top: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
    
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    border-radius:15px;
    position: absolute;
    top: 0;
    left: -28px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #00e2aa;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fshipping{
	float: left;
	margin-left: 50px;
	margin-top: 18px;
	color: #343e5c;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.verticalLine4{
	float: left;
  	margin-left: 40px;
    border-left: 1.3px solid #f0f2f7;
  	height: 50px;
}
.shipto{
  color: #a1a8bd;
  margin-left: 30px;
}
.usa{
  color: #343e5c;
  margin-left: 40px;
}

.maincontent{
 	position: relative;
 	width: 1170px;
 	margin: auto;
 	top: 80px;
}

.side-bar{
	border-radius: 7px;
	width: 280px;
	float: left;
  position: relative;
  
}
.content {
  position: relative;

}


.dropmenu {
  margin-top:0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.dropmenu>li {
  cursor: pointer;
  display: block;
  padding: 15px 0px ;
  color: #4D4D4D;
  position: relative;
  z-index: 80;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}
.link{
  height: 5px;
}
.dropmenu li:last-child .link { 
  border-bottom: 0; 
}

.dropmenu li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dropmenu li i.fa-chevron-right {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.dropmenu li.open .link { color: #b63b4d; }

.dropmenu li.open i { color: #b63b4d; }

.dropmenu li.open i.fa-chevron-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.submenu {
  position: relative;
  display: none;
  background: #F0F2F7;
  font-size: 14px;
  z-index: 9999999;
  top: 15px;
}

 li{
  list-style: none;
  z-index: 99;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
   margin-left: -45px;
   font-family: 'Montserrat', sans-serif;
}

.submenu a:hover {
  background: #F0F2F7;
  color: #FFF;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 11px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 117px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
     -webkit-transition: width 2s; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {
  display: block;
}

.dropbtnusa {
    color: white;
    padding: 16px;
    font-size: 11px;
    border: none;
    cursor: pointer;
}

.dropdownusa {
    position: relative;
    display: inline-block;
}

.dropdown-contentusa {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 93px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contentusa a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
  display: block;
}

.product1{
	float: left;
	height: 385px;
	width: 265px;
	background-color: white;
	margin-left: 30px;
	border-radius: 7px;
}

.product1 p{
	font-family: 'Montserrat', regular;
	font-weight: 600;

}
.productHeadline{
	color: #1c1e23; 
	font-size: 16px;
	margin-top: -130px;
  text-align: center;
}

.productColor{
	font-size: 12px;
	opacity: 0.5;
  margin-left: 85px;
}

.productPrice{
	font-family: 'Montserrat', regular;
	font-weight: 600;
	color: #343e5c;
	font-size: 14px;
  margin-left: 110px;

}

.avialableFilter{
  float: left;
  height: 340px;
  width: 280px;
  background-color: white;
  border-radius: 7px;
  position: relative;
  top: 30px;
}

.avialableText{
  margin-top: 13px;
  float: left;
  margin-left: 30px;
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 11px;
  color: #343e5c;
}

.horizontalLine{
  border-bottom: 0.5px solid #e4e5e7;
  height: 1px;
  margin-top: 40px;
}

.container2 {
  float: left;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 13pt;
    font-family: 'Montserrat';
}
.container2 input {
    position: absolute;
    opacity: 0;
}

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #e4e8f0;
}



.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}


.container2 input:checked ~ .checkmark2:after {
    display: block;
}


.container2 .checkmark2:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #00deea;
}

.inStorage{
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 13px;
  float: left;
  margin-top: 22px;
  margin-left: 40px;
  color: #343e5c;
}

.container3 {
  clear: left;
  float: left;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 13pt;
    font-family: 'Montserrat';
}


.container3 input {
    position: absolute;
    opacity: 0;
}

.checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #e4e8f0;
}



.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}


.container3 input:checked ~ .checkmark3:after {
    display: block;
}


.container3 .checkmark3:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #00deea;
}

.inOnlineShop{
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 13px;
  float: left;
  margin-top: 22px;
  margin-left: 40px;
  color: #343e5c;
}

.productCount{
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 11px;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 10px;
  margin-top: 22px;
  color: #343e5c;
  opacity: 0.5;
}

.brandText{
  margin-top: 13px;
  float: left;
  margin-left: 30px;
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 11px;
  color: #343e5c;
}

.everyBrand{
  font-size: 11px;
  font-family: 'Montserrat', regular;
  color: #343e5c;
}

.everyBrand a{
  margin: 0;
  padding: 0;
  color: #2754eb;
  float: right;
  margin-right: 10px;
}



.brandNames{
  margin-left: 30px;
  font-family: 'Montserrat', regular;
  font-weight: 600;
}

.container4 {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12pt;
    margin-top: 14px;
}


.container4 input {
    position: absolute;
    opacity: 0;
    display: none;
    cursor: pointer;
}


.checkmark4 {
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border:1px solid #e4e8f0;
}

.container4:hover input ~ .checkmark4 {
    background-color: #00e2aa;
}

.container4 input:checked ~ .checkmark4 {
    background-color: #00e2aa;
}


.checkmark4:after {
    content: "";
    position: absolute;
    display: none;
}


.container4 input:checked ~ .checkmark4:after {
    display: block;
}


.container4 .checkmark4:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.brandName{
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #343e5c;
  margin-left: 40px;
  margin-top: 2px;
}

.brandCount{
  font-family: 'Montserrat', regular;
  font-size: 11px;
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 10px;
  color: #343e5c;
  opacity: 0.5;
}

.conditionFilter{
  clear: left;
  float: left;
  height: 250px;
  width: 280px;
  background-color: white;
  position: relative;
  top: 80px;
  border-radius: 7px;
}

.conditionNames{
  margin-left: 30px;
}

.deliveryOptions{
  clear: left;
  float: left;
  height: 100px;
  width: 280px;
  background-color: white;
  position: relative;
  top: 110px;
  border-radius: 7px;
}

.container5 {
  float: left;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 13pt;
    font-family: 'Montserrat';
}

.container5 input {
    position: absolute;
    opacity: 0;
}


.checkmark5 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #e4e8f0;
}



.checkmark5:after {
    content: "";
    position: absolute;
    display: none;
}


.container5 input:checked ~ .checkmark5:after {
    display: block;
}


.container5 .checkmark5:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #00deea;
}

.free-delivery{
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 13px;
  float: left;
  margin-top: 22px;
  margin-left: 40px;
  color: #343e5c;
}

.container6 {
  float: left;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 13pt;
    font-family: 'Montserrat';
}


.container6 input {
    position: absolute;
    opacity: 0;
}


.checkmark6 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #e4e8f0;
}



.checkmark6:after {
    content: "";
    position: absolute;
    display: none;
}


.container6 input:checked ~ .checkmark6:after {
    display: block;
}


.container6 .checkmark6:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #00deea;
}

.delivery{
  font-family: 'Montserrat', regular;
  font-weight: 600;
  font-size: 13px;
  float: left;
  margin-top: 22px;
  margin-left: 40px;
  color: #343e5c;
}
.product2{
	float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 30px;
  border-radius: 7px;
  margin-top: 30px;
}

.photo4{
	margin-left: 30px;
	margin-top: 80px;
}


.product2 p{
	font-family: 'Montserrat', regular;
	font-weight: 600;

}

.productHeadline{
	color: #1c1e23; 
	font-size: 16px;
	margin-top: -130px;
}

.productColor{
	font-size: 12px;
	opacity: 0.5;
}

.productPrice{
	color: #343e5c;
}

.product3{
  margin-top: 30px;
	float: right;
	height: 385px;
	width: 560px;
	background-color: white;
	margin-right: 5px;
	border-radius: 7px;

}
.product4{
  float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 30px;
  border-radius: 7px;
  margin-top: 30px;

}
.product5 {
  margin-top: 30px;
  float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 30px;
  border-radius: 7px;
}
.product6 {
  margin-top: 30px;
  float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 30px;
  border-radius: 7px;
}
.product7{
   margin-top: 30px;
  float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 310px;
  border-radius: 7px;
}
.product8{
   margin-top: 30px;
  float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 30px;
  border-radius: 7px;
}
.product9{
   margin-top: 30px;
  float: left;
  height: 385px;
  width: 265px;
  background-color: white;
  margin-left: 30px;
  border-radius: 7px;
}
.photo5{
	width: 100%;
}

.photo5Price{
	padding: 0;
	margin: 0;
	color: #343e5c;
	position: absolute;
	top: 430px;
	left: 625px;
	float: left;
	background-color: black;
	color: white;
	border-radius: 5px;
	width: 65px;
	height: 20px;
	text-align: center;
	font-family: 'Montserrat', regular;
	font-weight: 600;

}

.photo5Headline{
	font-family: 'Montserrat', regular;
	font-weight: 600;
	padding-bottom: 0;
	margin-bottom: 0;
	color: #1c1e23; 
	font-size: 16px;
	margin-left: 30px;
	float: left;
}

.photo5Color{
	font-family: 'Montserrat', regular;
	font-weight: 600;
	clear: left;
	font-size: 12px;
	opacity: 0.5;
	margin-left: 30px;
	width: auto;
	float: left;
}

.buyNowContainer{
	margin-top: -15px;
	width: 230px;
	background-color: white;
	float: right;
	height: 30px;
	border: 1px solid #e4e8f0;
	border-radius: 7px;
	margin-right: 20px;
}

.capacityCount{
	font-family: 'Montserrat', regular;
	float: left;
	margin-top: 8px;
	margin-left: 30px;
	font-size: 11px;
	font-weight: bold;
}

.buyNow{	
	font-family: 'Montserrat', regular;
	float: right;
	margin-top: -21px;
	margin-right: 30px;
	font-size: 11px;
	font-weight: bold;
}

.buyNow a{
	text-decoration: none;
	color: #1c1e23;
}

.photo8{
	margin-left: 30px;
	margin-top: 30px;
}

.photo10{
	margin-left: 30px;
	margin-top: 40px;
}

.pageContainer{
	float: left;
  margin-left: 110px;
	width: 1170px;
	height: 90px;
	border-radius: 7px;
	background-color: white;
	margin-top: 108px;
}

.pagePrev{
	float: left;
	margin-left: 100px;
  	border: solid black;
 	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-top: 44px;
}

.pageNext{
	float: right;
	margin-right: 100px;
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
 	margin-top: 44px;

}

.pagenumbersbox{
	font-family: 'Montserrat', regular;
	font-weight: 600;
	font-size: 14px;
	float: left;
	width: 500px;
	margin-top: 40px;
	margin-left: 270px;
}

.pagenumbersbox a:not(:first-child){
	margin-left: 50px;
}

.pagenum{
	font-family: 'Montserrat', regular;
	text-decoration: none;
	color: black;
}
.bestSellers{
	height: 400px;
	width: 1170px;
	background-color: white;
	float: left;
	margin-top: 50px;
	border-radius: 7px;
  margin-left: 110px;
}

.bestSellersText{
	position: relative;
	padding: 0;
	margin: 0;
	top:20px;
	text-align: center;
	font-family: 'Montserrat', regular;
	font-weight: 600;
	font-size: 11px;
	height: 50px;

}

.horizontalLine2{	
	border-bottom: 0.5px solid #e4e5e7;
	height: 1px;
}

.bestProduct{
	float: left;
	height: 325px;
	width: 290px;
	background-color: white;
	border-radius: 7px;
}

.bestProduct p{
	font-family: 'Montserrat', regular;
	font-weight: 600;
	text-align: center;
}

.productHeadline2{
	color: #1c1e23; 
	font-size: 16px;
	margin-top: 0;
}
.product4headline{
  margin-left: 85px;
  font-size: 16px;
  margin-top: -125px;
}

.productColor{
	font-size: 11px;
	opacity: 0.5;
  margin-left: 110px;
}

.productPrice3{
	font-size: 14px;
	float: right;
	color: #343e5c;
	margin-right: 80px;
	margin-top: 5px;
}

.productPrice2{
	opacity: 0.5;
	font-size: 14px;
	margin-left: 80px;
	margin-top: 5px;
	text-decoration: line-through;
	float: left;
	color: #343e5c;
}

.verticalLine5{  
	float: left;
  	border-left: 1px solid #e4e5e7;
  	height: 400px;
}

.customers{
	position: relative;
	margin-top: 50px;
	width: 100%;
	height: 430px;
	background-color: white;

}

.customerscontent{
	width: 1170px;
	margin: auto;
	height: 100%;
	background-color: white;
	position: relative;

}

.customersheader{
	position: relative;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: 600;
	top: 70px;
	font-size: 32px;
	font-family: Montserrat ,sans-serif;
}

.customersheadertext{
	position: relative;
	padding: 0;
	margin: 0;
	top: 85px;
	text-align: center;
	font-size: 16px;
	color: #b9bed1;
	font-style: italic;
	font-weight: 600;
	font-family: 'Crimson Text', serif;
}

.story1{
	float: left;
	margin-left: 100px;
	margin-top: 180px;
}

.story2{
	float: left;
	margin-left: 90px;
	margin-top: 180px;
}

.story3{
	float: left;
	margin-left: 90px;
	margin-top: 180px;
}

.story1Photo{
	float: left;
}

.story2Photo{
	float: left;
}

.story3Photo{
	float: left;
}

.name{
	padding: 0;
	margin: 0;
	float: left;
	margin-left: 20px;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}

.professionText{
	padding: 0;
	margin: 0;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	font-size: 14px;
	color: #b9bed1;
	font-style: italic;
	font-family: Montserrat, sans-serif;
}

.storytext{
	padding: 0;
	margin: 0;
	clear: left;
	color: #3a405b;
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-size: 16px;
	margin-top: 45px;
}

.footer{
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #222328;
}

.footercontent{
	position: relative;
	margin: auto;
	height: 100%;
	width: 1170px;
	background-color: #222328;
}

.footericon{
	float: left;
	margin-top: 60px;
}

.footermenu{
	padding: 0;
	float: left;
	margin-left: 300px;
	margin-top: 60px;
}

.footermenu li{
	float: left;
	list-style: none;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}

.footermenu li:not(:first-child){
	margin-left: 30px;
}

.footermenu li a{
	text-decoration: none;
	color: white;
}

.socialiconsbox{
	float: right;
	margin-top: 60px;

}

.soc1{
	margin-right: 20px;
}
.soc2{
  margin-right: 20px;
}
.horizontalLine3{	
	position: relative;
	opacity: 0.5;
	border-bottom: 0.5px solid #e4e5e7;
	height: 1px;
	top: 150px;
}

.footerText{
	margin: 0;
	padding: 0;
	margin-top: 120px;
	float: left;
	color: white;
	opacity: 0.5;
	font-size: 14px;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-weight: 600;
}

.footertext2{
	margin: 0;
	padding: 0;
	margin-top: 125px;
	float: right;
}

.footertext2 li{
	float: left;
	list-style: none;	
	color: white;
	opacity: 0.5;
	font-size: 11px;
	font-family: 'Montserrat', serif;
	font-weight: 600;
}

.footertext2 li:not(:last-child){
	margin-right: 30px;
}

.footertext2 li a{
	text-decoration: none;
	color: white;
}













